<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome page</title>
</head>
<body>
    <% if (!user) {%>
      <h1>Please <a href="/login">sign in</a> before make a new post</h1>
      
      <h3>Or</h3>
      <a href="/signup">Sign up</a>
    <% } else { %>

        <form action="/new" method="POST">

            <label for="title">Title:
                <input name="title" placeholder="Post Title" type="text" required/>
            </label>
        
            <label for="post_content">Say something:
                <input name="post_content" type="text" required/>
            </label>        
            
            <button type="submit">Submit</button>
          </form>

    <%}%>
  </body>
</html>