<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="/signup" method="POST">

    <label for="username">Username:
        <input name="username" placeholder="Username" type="text" required/>
    </label>

    <label for="email">Email:
      <input name="email" placeholder="Email" type="email" required/>
    </label>

    <label for="firstname">First Name:
        <input name="firstname" placeholder="First Name" type="text" required/>
    </label>

    <label for="lastname">Last Name:
        <input name="lastname" placeholder="Last Name" type="text" required/>
    </label>
        
    <label for="password">Password:
        <input name="password" type="password" required/>
    </label>

    <label for="password">Confirm Password:
        <input name="password2" type="password" required/>
    </label>

    
    <button>Sign Up</button>
  </form>
</body>
</html>